<?php
/**
 * EmailUserApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * eInvoice Api
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1_7_0_4
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use Swagger\Client\ApiException;
use Swagger\Client\Configuration;
use Swagger\Client\HeaderSelector;
use Swagger\Client\ObjectSerializer;

/**
 * EmailUserApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class EmailUserApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @param ClientInterface $client
     * @param Configuration $config
     * @param HeaderSelector $selector
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation emailUserAccept
     *
     * Accepts a outboundDocument
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserAccept($virtual_operator, $id)
    {
        list($response) = $this->emailUserAcceptWithHttpInfo($virtual_operator, $id);
        return $response;
    }

    /**
     * Operation emailUserAcceptWithHttpInfo
     *
     * Accepts a outboundDocument
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserAcceptWithHttpInfo($virtual_operator, $id)
    {
        $returnType = 'object';
        $request = $this->emailUserAcceptRequest($virtual_operator, $id);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserAcceptAsync
     *
     * Accepts a outboundDocument
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserAcceptAsync($virtual_operator, $id)
    {
        return $this->emailUserAcceptAsyncWithHttpInfo($virtual_operator, $id)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserAcceptAsyncWithHttpInfo
     *
     * Accepts a outboundDocument
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserAcceptAsyncWithHttpInfo($virtual_operator, $id)
    {
        $returnType = 'object';
        $request = $this->emailUserAcceptRequest($virtual_operator, $id);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserAccept'
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserAcceptRequest($virtual_operator, $id)
    {
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserAccept');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling emailUserAccept');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/outbounddocuments/{id}/accept';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace('{' . 'id' . '}', ObjectSerializer::toPathValue($id), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'POST',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserAcceptEmailUserRegisterToken
     *
     * Accepts a previously invitation sent to a email user
     *
     * @param string $virtual_operator  (required)
     * @param string $token  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserAcceptEmailUserRegisterToken($virtual_operator, $token)
    {
        list($response) = $this->emailUserAcceptEmailUserRegisterTokenWithHttpInfo($virtual_operator, $token);
        return $response;
    }

    /**
     * Operation emailUserAcceptEmailUserRegisterTokenWithHttpInfo
     *
     * Accepts a previously invitation sent to a email user
     *
     * @param string $virtual_operator  (required)
     * @param string $token  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserAcceptEmailUserRegisterTokenWithHttpInfo($virtual_operator, $token)
    {
        $returnType = 'object';
        $request = $this->emailUserAcceptEmailUserRegisterTokenRequest($virtual_operator, $token);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserAcceptEmailUserRegisterTokenAsync
     *
     * Accepts a previously invitation sent to a email user
     *
     * @param string $virtual_operator  (required)
     * @param string $token  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserAcceptEmailUserRegisterTokenAsync($virtual_operator, $token)
    {
        return $this->emailUserAcceptEmailUserRegisterTokenAsyncWithHttpInfo($virtual_operator, $token)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserAcceptEmailUserRegisterTokenAsyncWithHttpInfo
     *
     * Accepts a previously invitation sent to a email user
     *
     * @param string $virtual_operator  (required)
     * @param string $token  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserAcceptEmailUserRegisterTokenAsyncWithHttpInfo($virtual_operator, $token)
    {
        $returnType = 'object';
        $request = $this->emailUserAcceptEmailUserRegisterTokenRequest($virtual_operator, $token);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserAcceptEmailUserRegisterToken'
     *
     * @param string $virtual_operator  (required)
     * @param string $token  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserAcceptEmailUserRegisterTokenRequest($virtual_operator, $token)
    {
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserAcceptEmailUserRegisterToken');
        }
        // verify the required parameter 'token' is set
        if ($token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $token when calling emailUserAcceptEmailUserRegisterToken');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/accepttoken/{token}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }
        // path params
        if ($token !== null) {
            $resourcePath = str_replace('{' . 'token' . '}', ObjectSerializer::toPathValue($token), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'GET',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserChangeEmailUserPassword
     *
     * Change an email user password
     *
     * @param string $token  (required)
     * @param string $virtual_operator  (required)
     * @param \Swagger\Client\Model\EmailUserDTO $user  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserChangeEmailUserPassword($token, $virtual_operator, $user)
    {
        list($response) = $this->emailUserChangeEmailUserPasswordWithHttpInfo($token, $virtual_operator, $user);
        return $response;
    }

    /**
     * Operation emailUserChangeEmailUserPasswordWithHttpInfo
     *
     * Change an email user password
     *
     * @param string $token  (required)
     * @param string $virtual_operator  (required)
     * @param \Swagger\Client\Model\EmailUserDTO $user  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserChangeEmailUserPasswordWithHttpInfo($token, $virtual_operator, $user)
    {
        $returnType = 'object';
        $request = $this->emailUserChangeEmailUserPasswordRequest($token, $virtual_operator, $user);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserChangeEmailUserPasswordAsync
     *
     * Change an email user password
     *
     * @param string $token  (required)
     * @param string $virtual_operator  (required)
     * @param \Swagger\Client\Model\EmailUserDTO $user  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserChangeEmailUserPasswordAsync($token, $virtual_operator, $user)
    {
        return $this->emailUserChangeEmailUserPasswordAsyncWithHttpInfo($token, $virtual_operator, $user)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserChangeEmailUserPasswordAsyncWithHttpInfo
     *
     * Change an email user password
     *
     * @param string $token  (required)
     * @param string $virtual_operator  (required)
     * @param \Swagger\Client\Model\EmailUserDTO $user  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserChangeEmailUserPasswordAsyncWithHttpInfo($token, $virtual_operator, $user)
    {
        $returnType = 'object';
        $request = $this->emailUserChangeEmailUserPasswordRequest($token, $virtual_operator, $user);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserChangeEmailUserPassword'
     *
     * @param string $token  (required)
     * @param string $virtual_operator  (required)
     * @param \Swagger\Client\Model\EmailUserDTO $user  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserChangeEmailUserPasswordRequest($token, $virtual_operator, $user)
    {
        // verify the required parameter 'token' is set
        if ($token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $token when calling emailUserChangeEmailUserPassword');
        }
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserChangeEmailUserPassword');
        }
        // verify the required parameter 'user' is set
        if ($user === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user when calling emailUserChangeEmailUserPassword');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/newpassword/{token}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($token !== null) {
            $resourcePath = str_replace('{' . 'token' . '}', ObjectSerializer::toPathValue($token), $resourcePath);
        }
        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }

        // body params
        $_tempBody = null;
        if (isset($user)) {
            $_tempBody = $user;
        }

        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'POST',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserCountDocuments
     *
     * 
     *
     * @param string $virtual_operator  (required)
     * @param string $search_criteria_dto_id  (optional)
     * @param string $search_criteria_dto_document_number  (optional)
     * @param string $search_criteria_dto_currency  (optional)
     * @param string[] $search_criteria_dto_company_ids  (optional)
     * @param string[] $search_criteria_dto_issuers  (optional)
     * @param string[] $search_criteria_dto_customers  (optional)
     * @param bool $search_criteria_dto_include_files  (optional)
     * @param bool $search_criteria_dto_include_attachments  (optional)
     * @param string[] $search_criteria_dto_document_types  (optional)
     * @param string[] $search_criteria_dto_document_sub_types  (optional)
     * @param string[] $search_criteria_dto_business_status  (optional)
     * @param string[] $search_criteria_dto_communication_status  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_start  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_end  (optional)
     * @param \DateTime $search_criteria_dto_document_date_start  (optional)
     * @param \DateTime $search_criteria_dto_document_date_end  (optional)
     * @param int $search_criteria_dto_offset  (optional)
     * @param int $search_criteria_dto_number_of_records  (optional)
     * @param string $search_criteria_dto_sort_field  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserCountDocuments($virtual_operator, $search_criteria_dto_id = null, $search_criteria_dto_document_number = null, $search_criteria_dto_currency = null, $search_criteria_dto_company_ids = null, $search_criteria_dto_issuers = null, $search_criteria_dto_customers = null, $search_criteria_dto_include_files = null, $search_criteria_dto_include_attachments = null, $search_criteria_dto_document_types = null, $search_criteria_dto_document_sub_types = null, $search_criteria_dto_business_status = null, $search_criteria_dto_communication_status = null, $search_criteria_dto_creation_date_start = null, $search_criteria_dto_creation_date_end = null, $search_criteria_dto_document_date_start = null, $search_criteria_dto_document_date_end = null, $search_criteria_dto_offset = null, $search_criteria_dto_number_of_records = null, $search_criteria_dto_sort_field = null)
    {
        list($response) = $this->emailUserCountDocumentsWithHttpInfo($virtual_operator, $search_criteria_dto_id, $search_criteria_dto_document_number, $search_criteria_dto_currency, $search_criteria_dto_company_ids, $search_criteria_dto_issuers, $search_criteria_dto_customers, $search_criteria_dto_include_files, $search_criteria_dto_include_attachments, $search_criteria_dto_document_types, $search_criteria_dto_document_sub_types, $search_criteria_dto_business_status, $search_criteria_dto_communication_status, $search_criteria_dto_creation_date_start, $search_criteria_dto_creation_date_end, $search_criteria_dto_document_date_start, $search_criteria_dto_document_date_end, $search_criteria_dto_offset, $search_criteria_dto_number_of_records, $search_criteria_dto_sort_field);
        return $response;
    }

    /**
     * Operation emailUserCountDocumentsWithHttpInfo
     *
     * 
     *
     * @param string $virtual_operator  (required)
     * @param string $search_criteria_dto_id  (optional)
     * @param string $search_criteria_dto_document_number  (optional)
     * @param string $search_criteria_dto_currency  (optional)
     * @param string[] $search_criteria_dto_company_ids  (optional)
     * @param string[] $search_criteria_dto_issuers  (optional)
     * @param string[] $search_criteria_dto_customers  (optional)
     * @param bool $search_criteria_dto_include_files  (optional)
     * @param bool $search_criteria_dto_include_attachments  (optional)
     * @param string[] $search_criteria_dto_document_types  (optional)
     * @param string[] $search_criteria_dto_document_sub_types  (optional)
     * @param string[] $search_criteria_dto_business_status  (optional)
     * @param string[] $search_criteria_dto_communication_status  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_start  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_end  (optional)
     * @param \DateTime $search_criteria_dto_document_date_start  (optional)
     * @param \DateTime $search_criteria_dto_document_date_end  (optional)
     * @param int $search_criteria_dto_offset  (optional)
     * @param int $search_criteria_dto_number_of_records  (optional)
     * @param string $search_criteria_dto_sort_field  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserCountDocumentsWithHttpInfo($virtual_operator, $search_criteria_dto_id = null, $search_criteria_dto_document_number = null, $search_criteria_dto_currency = null, $search_criteria_dto_company_ids = null, $search_criteria_dto_issuers = null, $search_criteria_dto_customers = null, $search_criteria_dto_include_files = null, $search_criteria_dto_include_attachments = null, $search_criteria_dto_document_types = null, $search_criteria_dto_document_sub_types = null, $search_criteria_dto_business_status = null, $search_criteria_dto_communication_status = null, $search_criteria_dto_creation_date_start = null, $search_criteria_dto_creation_date_end = null, $search_criteria_dto_document_date_start = null, $search_criteria_dto_document_date_end = null, $search_criteria_dto_offset = null, $search_criteria_dto_number_of_records = null, $search_criteria_dto_sort_field = null)
    {
        $returnType = 'object';
        $request = $this->emailUserCountDocumentsRequest($virtual_operator, $search_criteria_dto_id, $search_criteria_dto_document_number, $search_criteria_dto_currency, $search_criteria_dto_company_ids, $search_criteria_dto_issuers, $search_criteria_dto_customers, $search_criteria_dto_include_files, $search_criteria_dto_include_attachments, $search_criteria_dto_document_types, $search_criteria_dto_document_sub_types, $search_criteria_dto_business_status, $search_criteria_dto_communication_status, $search_criteria_dto_creation_date_start, $search_criteria_dto_creation_date_end, $search_criteria_dto_document_date_start, $search_criteria_dto_document_date_end, $search_criteria_dto_offset, $search_criteria_dto_number_of_records, $search_criteria_dto_sort_field);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserCountDocumentsAsync
     *
     * 
     *
     * @param string $virtual_operator  (required)
     * @param string $search_criteria_dto_id  (optional)
     * @param string $search_criteria_dto_document_number  (optional)
     * @param string $search_criteria_dto_currency  (optional)
     * @param string[] $search_criteria_dto_company_ids  (optional)
     * @param string[] $search_criteria_dto_issuers  (optional)
     * @param string[] $search_criteria_dto_customers  (optional)
     * @param bool $search_criteria_dto_include_files  (optional)
     * @param bool $search_criteria_dto_include_attachments  (optional)
     * @param string[] $search_criteria_dto_document_types  (optional)
     * @param string[] $search_criteria_dto_document_sub_types  (optional)
     * @param string[] $search_criteria_dto_business_status  (optional)
     * @param string[] $search_criteria_dto_communication_status  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_start  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_end  (optional)
     * @param \DateTime $search_criteria_dto_document_date_start  (optional)
     * @param \DateTime $search_criteria_dto_document_date_end  (optional)
     * @param int $search_criteria_dto_offset  (optional)
     * @param int $search_criteria_dto_number_of_records  (optional)
     * @param string $search_criteria_dto_sort_field  (optional)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserCountDocumentsAsync($virtual_operator, $search_criteria_dto_id = null, $search_criteria_dto_document_number = null, $search_criteria_dto_currency = null, $search_criteria_dto_company_ids = null, $search_criteria_dto_issuers = null, $search_criteria_dto_customers = null, $search_criteria_dto_include_files = null, $search_criteria_dto_include_attachments = null, $search_criteria_dto_document_types = null, $search_criteria_dto_document_sub_types = null, $search_criteria_dto_business_status = null, $search_criteria_dto_communication_status = null, $search_criteria_dto_creation_date_start = null, $search_criteria_dto_creation_date_end = null, $search_criteria_dto_document_date_start = null, $search_criteria_dto_document_date_end = null, $search_criteria_dto_offset = null, $search_criteria_dto_number_of_records = null, $search_criteria_dto_sort_field = null)
    {
        return $this->emailUserCountDocumentsAsyncWithHttpInfo($virtual_operator, $search_criteria_dto_id, $search_criteria_dto_document_number, $search_criteria_dto_currency, $search_criteria_dto_company_ids, $search_criteria_dto_issuers, $search_criteria_dto_customers, $search_criteria_dto_include_files, $search_criteria_dto_include_attachments, $search_criteria_dto_document_types, $search_criteria_dto_document_sub_types, $search_criteria_dto_business_status, $search_criteria_dto_communication_status, $search_criteria_dto_creation_date_start, $search_criteria_dto_creation_date_end, $search_criteria_dto_document_date_start, $search_criteria_dto_document_date_end, $search_criteria_dto_offset, $search_criteria_dto_number_of_records, $search_criteria_dto_sort_field)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserCountDocumentsAsyncWithHttpInfo
     *
     * 
     *
     * @param string $virtual_operator  (required)
     * @param string $search_criteria_dto_id  (optional)
     * @param string $search_criteria_dto_document_number  (optional)
     * @param string $search_criteria_dto_currency  (optional)
     * @param string[] $search_criteria_dto_company_ids  (optional)
     * @param string[] $search_criteria_dto_issuers  (optional)
     * @param string[] $search_criteria_dto_customers  (optional)
     * @param bool $search_criteria_dto_include_files  (optional)
     * @param bool $search_criteria_dto_include_attachments  (optional)
     * @param string[] $search_criteria_dto_document_types  (optional)
     * @param string[] $search_criteria_dto_document_sub_types  (optional)
     * @param string[] $search_criteria_dto_business_status  (optional)
     * @param string[] $search_criteria_dto_communication_status  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_start  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_end  (optional)
     * @param \DateTime $search_criteria_dto_document_date_start  (optional)
     * @param \DateTime $search_criteria_dto_document_date_end  (optional)
     * @param int $search_criteria_dto_offset  (optional)
     * @param int $search_criteria_dto_number_of_records  (optional)
     * @param string $search_criteria_dto_sort_field  (optional)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserCountDocumentsAsyncWithHttpInfo($virtual_operator, $search_criteria_dto_id = null, $search_criteria_dto_document_number = null, $search_criteria_dto_currency = null, $search_criteria_dto_company_ids = null, $search_criteria_dto_issuers = null, $search_criteria_dto_customers = null, $search_criteria_dto_include_files = null, $search_criteria_dto_include_attachments = null, $search_criteria_dto_document_types = null, $search_criteria_dto_document_sub_types = null, $search_criteria_dto_business_status = null, $search_criteria_dto_communication_status = null, $search_criteria_dto_creation_date_start = null, $search_criteria_dto_creation_date_end = null, $search_criteria_dto_document_date_start = null, $search_criteria_dto_document_date_end = null, $search_criteria_dto_offset = null, $search_criteria_dto_number_of_records = null, $search_criteria_dto_sort_field = null)
    {
        $returnType = 'object';
        $request = $this->emailUserCountDocumentsRequest($virtual_operator, $search_criteria_dto_id, $search_criteria_dto_document_number, $search_criteria_dto_currency, $search_criteria_dto_company_ids, $search_criteria_dto_issuers, $search_criteria_dto_customers, $search_criteria_dto_include_files, $search_criteria_dto_include_attachments, $search_criteria_dto_document_types, $search_criteria_dto_document_sub_types, $search_criteria_dto_business_status, $search_criteria_dto_communication_status, $search_criteria_dto_creation_date_start, $search_criteria_dto_creation_date_end, $search_criteria_dto_document_date_start, $search_criteria_dto_document_date_end, $search_criteria_dto_offset, $search_criteria_dto_number_of_records, $search_criteria_dto_sort_field);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserCountDocuments'
     *
     * @param string $virtual_operator  (required)
     * @param string $search_criteria_dto_id  (optional)
     * @param string $search_criteria_dto_document_number  (optional)
     * @param string $search_criteria_dto_currency  (optional)
     * @param string[] $search_criteria_dto_company_ids  (optional)
     * @param string[] $search_criteria_dto_issuers  (optional)
     * @param string[] $search_criteria_dto_customers  (optional)
     * @param bool $search_criteria_dto_include_files  (optional)
     * @param bool $search_criteria_dto_include_attachments  (optional)
     * @param string[] $search_criteria_dto_document_types  (optional)
     * @param string[] $search_criteria_dto_document_sub_types  (optional)
     * @param string[] $search_criteria_dto_business_status  (optional)
     * @param string[] $search_criteria_dto_communication_status  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_start  (optional)
     * @param \DateTime $search_criteria_dto_creation_date_end  (optional)
     * @param \DateTime $search_criteria_dto_document_date_start  (optional)
     * @param \DateTime $search_criteria_dto_document_date_end  (optional)
     * @param int $search_criteria_dto_offset  (optional)
     * @param int $search_criteria_dto_number_of_records  (optional)
     * @param string $search_criteria_dto_sort_field  (optional)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserCountDocumentsRequest($virtual_operator, $search_criteria_dto_id = null, $search_criteria_dto_document_number = null, $search_criteria_dto_currency = null, $search_criteria_dto_company_ids = null, $search_criteria_dto_issuers = null, $search_criteria_dto_customers = null, $search_criteria_dto_include_files = null, $search_criteria_dto_include_attachments = null, $search_criteria_dto_document_types = null, $search_criteria_dto_document_sub_types = null, $search_criteria_dto_business_status = null, $search_criteria_dto_communication_status = null, $search_criteria_dto_creation_date_start = null, $search_criteria_dto_creation_date_end = null, $search_criteria_dto_document_date_start = null, $search_criteria_dto_document_date_end = null, $search_criteria_dto_offset = null, $search_criteria_dto_number_of_records = null, $search_criteria_dto_sort_field = null)
    {
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserCountDocuments');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/outbounddocuments/count';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($search_criteria_dto_id !== null) {
            $queryParams['searchCriteriaDto.id'] = ObjectSerializer::toQueryValue($search_criteria_dto_id);
        }
        // query params
        if ($search_criteria_dto_document_number !== null) {
            $queryParams['searchCriteriaDto.documentNumber'] = ObjectSerializer::toQueryValue($search_criteria_dto_document_number);
        }
        // query params
        if ($search_criteria_dto_currency !== null) {
            $queryParams['searchCriteriaDto.currency'] = ObjectSerializer::toQueryValue($search_criteria_dto_currency);
        }
        // query params
        if (is_array($search_criteria_dto_company_ids)) {
            $search_criteria_dto_company_ids = ObjectSerializer::serializeCollection($search_criteria_dto_company_ids, 'multi', true);
        }
        if ($search_criteria_dto_company_ids !== null) {
            $queryParams['searchCriteriaDto.companyIds'] = ObjectSerializer::toQueryValue($search_criteria_dto_company_ids);
        }
        // query params
        if (is_array($search_criteria_dto_issuers)) {
            $search_criteria_dto_issuers = ObjectSerializer::serializeCollection($search_criteria_dto_issuers, 'multi', true);
        }
        if ($search_criteria_dto_issuers !== null) {
            $queryParams['searchCriteriaDto.issuers'] = ObjectSerializer::toQueryValue($search_criteria_dto_issuers);
        }
        // query params
        if (is_array($search_criteria_dto_customers)) {
            $search_criteria_dto_customers = ObjectSerializer::serializeCollection($search_criteria_dto_customers, 'multi', true);
        }
        if ($search_criteria_dto_customers !== null) {
            $queryParams['searchCriteriaDto.customers'] = ObjectSerializer::toQueryValue($search_criteria_dto_customers);
        }
        // query params
        if ($search_criteria_dto_include_files !== null) {
            $queryParams['searchCriteriaDto.includeFiles'] = ObjectSerializer::toQueryValue($search_criteria_dto_include_files);
        }
        // query params
        if ($search_criteria_dto_include_attachments !== null) {
            $queryParams['searchCriteriaDto.includeAttachments'] = ObjectSerializer::toQueryValue($search_criteria_dto_include_attachments);
        }
        // query params
        if (is_array($search_criteria_dto_document_types)) {
            $search_criteria_dto_document_types = ObjectSerializer::serializeCollection($search_criteria_dto_document_types, 'multi', true);
        }
        if ($search_criteria_dto_document_types !== null) {
            $queryParams['searchCriteriaDto.documentTypes'] = ObjectSerializer::toQueryValue($search_criteria_dto_document_types);
        }
        // query params
        if (is_array($search_criteria_dto_document_sub_types)) {
            $search_criteria_dto_document_sub_types = ObjectSerializer::serializeCollection($search_criteria_dto_document_sub_types, 'multi', true);
        }
        if ($search_criteria_dto_document_sub_types !== null) {
            $queryParams['searchCriteriaDto.documentSubTypes'] = ObjectSerializer::toQueryValue($search_criteria_dto_document_sub_types);
        }
        // query params
        if (is_array($search_criteria_dto_business_status)) {
            $search_criteria_dto_business_status = ObjectSerializer::serializeCollection($search_criteria_dto_business_status, 'multi', true);
        }
        if ($search_criteria_dto_business_status !== null) {
            $queryParams['searchCriteriaDto.businessStatus'] = ObjectSerializer::toQueryValue($search_criteria_dto_business_status);
        }
        // query params
        if (is_array($search_criteria_dto_communication_status)) {
            $search_criteria_dto_communication_status = ObjectSerializer::serializeCollection($search_criteria_dto_communication_status, 'multi', true);
        }
        if ($search_criteria_dto_communication_status !== null) {
            $queryParams['searchCriteriaDto.communicationStatus'] = ObjectSerializer::toQueryValue($search_criteria_dto_communication_status);
        }
        // query params
        if ($search_criteria_dto_creation_date_start !== null) {
            $queryParams['searchCriteriaDto.creationDateStart'] = ObjectSerializer::toQueryValue($search_criteria_dto_creation_date_start);
        }
        // query params
        if ($search_criteria_dto_creation_date_end !== null) {
            $queryParams['searchCriteriaDto.creationDateEnd'] = ObjectSerializer::toQueryValue($search_criteria_dto_creation_date_end);
        }
        // query params
        if ($search_criteria_dto_document_date_start !== null) {
            $queryParams['searchCriteriaDto.documentDateStart'] = ObjectSerializer::toQueryValue($search_criteria_dto_document_date_start);
        }
        // query params
        if ($search_criteria_dto_document_date_end !== null) {
            $queryParams['searchCriteriaDto.documentDateEnd'] = ObjectSerializer::toQueryValue($search_criteria_dto_document_date_end);
        }
        // query params
        if ($search_criteria_dto_offset !== null) {
            $queryParams['searchCriteriaDto.offset'] = ObjectSerializer::toQueryValue($search_criteria_dto_offset);
        }
        // query params
        if ($search_criteria_dto_number_of_records !== null) {
            $queryParams['searchCriteriaDto.numberOfRecords'] = ObjectSerializer::toQueryValue($search_criteria_dto_number_of_records);
        }
        // query params
        if ($search_criteria_dto_sort_field !== null) {
            $queryParams['searchCriteriaDto.sortField'] = ObjectSerializer::toQueryValue($search_criteria_dto_sort_field);
        }

        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'GET',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserGet
     *
     * Gets an email user by email
     *
     * @param string $virtual_operator  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserGet($virtual_operator)
    {
        list($response) = $this->emailUserGetWithHttpInfo($virtual_operator);
        return $response;
    }

    /**
     * Operation emailUserGetWithHttpInfo
     *
     * Gets an email user by email
     *
     * @param string $virtual_operator  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserGetWithHttpInfo($virtual_operator)
    {
        $returnType = 'object';
        $request = $this->emailUserGetRequest($virtual_operator);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserGetAsync
     *
     * Gets an email user by email
     *
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetAsync($virtual_operator)
    {
        return $this->emailUserGetAsyncWithHttpInfo($virtual_operator)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserGetAsyncWithHttpInfo
     *
     * Gets an email user by email
     *
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetAsyncWithHttpInfo($virtual_operator)
    {
        $returnType = 'object';
        $request = $this->emailUserGetRequest($virtual_operator);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserGet'
     *
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserGetRequest($virtual_operator)
    {
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserGet');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'GET',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserGetDocumentWithAllDetails
     *
     * Gets a outboundDocument with all associated details
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @param bool $data_get_pdf  (optional)
     * @param bool $data_get_ubl  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserGetDocumentWithAllDetails($virtual_operator, $id, $data_get_pdf = null, $data_get_ubl = null)
    {
        list($response) = $this->emailUserGetDocumentWithAllDetailsWithHttpInfo($virtual_operator, $id, $data_get_pdf, $data_get_ubl);
        return $response;
    }

    /**
     * Operation emailUserGetDocumentWithAllDetailsWithHttpInfo
     *
     * Gets a outboundDocument with all associated details
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @param bool $data_get_pdf  (optional)
     * @param bool $data_get_ubl  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserGetDocumentWithAllDetailsWithHttpInfo($virtual_operator, $id, $data_get_pdf = null, $data_get_ubl = null)
    {
        $returnType = 'object';
        $request = $this->emailUserGetDocumentWithAllDetailsRequest($virtual_operator, $id, $data_get_pdf, $data_get_ubl);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserGetDocumentWithAllDetailsAsync
     *
     * Gets a outboundDocument with all associated details
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @param bool $data_get_pdf  (optional)
     * @param bool $data_get_ubl  (optional)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetDocumentWithAllDetailsAsync($virtual_operator, $id, $data_get_pdf = null, $data_get_ubl = null)
    {
        return $this->emailUserGetDocumentWithAllDetailsAsyncWithHttpInfo($virtual_operator, $id, $data_get_pdf, $data_get_ubl)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserGetDocumentWithAllDetailsAsyncWithHttpInfo
     *
     * Gets a outboundDocument with all associated details
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @param bool $data_get_pdf  (optional)
     * @param bool $data_get_ubl  (optional)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetDocumentWithAllDetailsAsyncWithHttpInfo($virtual_operator, $id, $data_get_pdf = null, $data_get_ubl = null)
    {
        $returnType = 'object';
        $request = $this->emailUserGetDocumentWithAllDetailsRequest($virtual_operator, $id, $data_get_pdf, $data_get_ubl);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserGetDocumentWithAllDetails'
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @param bool $data_get_pdf  (optional)
     * @param bool $data_get_ubl  (optional)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserGetDocumentWithAllDetailsRequest($virtual_operator, $id, $data_get_pdf = null, $data_get_ubl = null)
    {
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserGetDocumentWithAllDetails');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling emailUserGetDocumentWithAllDetails');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/outbounddocuments/{id}/files';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($data_get_pdf !== null) {
            $queryParams['data.getPdf'] = ObjectSerializer::toQueryValue($data_get_pdf);
        }
        // query params
        if ($data_get_ubl !== null) {
            $queryParams['data.getUBL'] = ObjectSerializer::toQueryValue($data_get_ubl);
        }

        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace('{' . 'id' . '}', ObjectSerializer::toPathValue($id), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'GET',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachmentContent
     *
     * Gets an email user outboundDocument attachment content
     *
     * @param string $id  (required)
     * @param string $attachment_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserGetEmailUserDocumentAttachmentContent($id, $attachment_id, $virtual_operator)
    {
        list($response) = $this->emailUserGetEmailUserDocumentAttachmentContentWithHttpInfo($id, $attachment_id, $virtual_operator);
        return $response;
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachmentContentWithHttpInfo
     *
     * Gets an email user outboundDocument attachment content
     *
     * @param string $id  (required)
     * @param string $attachment_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserGetEmailUserDocumentAttachmentContentWithHttpInfo($id, $attachment_id, $virtual_operator)
    {
        $returnType = 'object';
        $request = $this->emailUserGetEmailUserDocumentAttachmentContentRequest($id, $attachment_id, $virtual_operator);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachmentContentAsync
     *
     * Gets an email user outboundDocument attachment content
     *
     * @param string $id  (required)
     * @param string $attachment_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetEmailUserDocumentAttachmentContentAsync($id, $attachment_id, $virtual_operator)
    {
        return $this->emailUserGetEmailUserDocumentAttachmentContentAsyncWithHttpInfo($id, $attachment_id, $virtual_operator)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachmentContentAsyncWithHttpInfo
     *
     * Gets an email user outboundDocument attachment content
     *
     * @param string $id  (required)
     * @param string $attachment_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetEmailUserDocumentAttachmentContentAsyncWithHttpInfo($id, $attachment_id, $virtual_operator)
    {
        $returnType = 'object';
        $request = $this->emailUserGetEmailUserDocumentAttachmentContentRequest($id, $attachment_id, $virtual_operator);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserGetEmailUserDocumentAttachmentContent'
     *
     * @param string $id  (required)
     * @param string $attachment_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserGetEmailUserDocumentAttachmentContentRequest($id, $attachment_id, $virtual_operator)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling emailUserGetEmailUserDocumentAttachmentContent');
        }
        // verify the required parameter 'attachment_id' is set
        if ($attachment_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $attachment_id when calling emailUserGetEmailUserDocumentAttachmentContent');
        }
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserGetEmailUserDocumentAttachmentContent');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/outbounddocuments/{id}/attachment/{attachmentId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($id !== null) {
            $resourcePath = str_replace('{' . 'id' . '}', ObjectSerializer::toPathValue($id), $resourcePath);
        }
        // path params
        if ($attachment_id !== null) {
            $resourcePath = str_replace('{' . 'attachmentId' . '}', ObjectSerializer::toPathValue($attachment_id), $resourcePath);
        }
        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'GET',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachments
     *
     * Gets a outboundDocument attachment for an email user
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserGetEmailUserDocumentAttachments($virtual_operator, $id)
    {
        list($response) = $this->emailUserGetEmailUserDocumentAttachmentsWithHttpInfo($virtual_operator, $id);
        return $response;
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachmentsWithHttpInfo
     *
     * Gets a outboundDocument attachment for an email user
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserGetEmailUserDocumentAttachmentsWithHttpInfo($virtual_operator, $id)
    {
        $returnType = 'object';
        $request = $this->emailUserGetEmailUserDocumentAttachmentsRequest($virtual_operator, $id);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachmentsAsync
     *
     * Gets a outboundDocument attachment for an email user
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetEmailUserDocumentAttachmentsAsync($virtual_operator, $id)
    {
        return $this->emailUserGetEmailUserDocumentAttachmentsAsyncWithHttpInfo($virtual_operator, $id)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserGetEmailUserDocumentAttachmentsAsyncWithHttpInfo
     *
     * Gets a outboundDocument attachment for an email user
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetEmailUserDocumentAttachmentsAsyncWithHttpInfo($virtual_operator, $id)
    {
        $returnType = 'object';
        $request = $this->emailUserGetEmailUserDocumentAttachmentsRequest($virtual_operator, $id);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserGetEmailUserDocumentAttachments'
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserGetEmailUserDocumentAttachmentsRequest($virtual_operator, $id)
    {
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserGetEmailUserDocumentAttachments');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling emailUserGetEmailUserDocumentAttachments');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/outbounddocuments/{id}/attachments';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace('{' . 'id' . '}', ObjectSerializer::toPathValue($id), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'GET',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserGetEmailUserFileContent
     *
     * Gets a file content for an email user
     *
     * @param string $id  (required)
     * @param string $file_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserGetEmailUserFileContent($id, $file_id, $virtual_operator)
    {
        list($response) = $this->emailUserGetEmailUserFileContentWithHttpInfo($id, $file_id, $virtual_operator);
        return $response;
    }

    /**
     * Operation emailUserGetEmailUserFileContentWithHttpInfo
     *
     * Gets a file content for an email user
     *
     * @param string $id  (required)
     * @param string $file_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserGetEmailUserFileContentWithHttpInfo($id, $file_id, $virtual_operator)
    {
        $returnType = 'object';
        $request = $this->emailUserGetEmailUserFileContentRequest($id, $file_id, $virtual_operator);

        try {

            try {
                $response = $this->client->send($request);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    "[$statusCode] Error connecting to the API ({$request->getUri()})",
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation emailUserGetEmailUserFileContentAsync
     *
     * Gets a file content for an email user
     *
     * @param string $id  (required)
     * @param string $file_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetEmailUserFileContentAsync($id, $file_id, $virtual_operator)
    {
        return $this->emailUserGetEmailUserFileContentAsyncWithHttpInfo($id, $file_id, $virtual_operator)->then(function ($response) {
            return $response[0];
        });
    }

    /**
     * Operation emailUserGetEmailUserFileContentAsyncWithHttpInfo
     *
     * Gets a file content for an email user
     *
     * @param string $id  (required)
     * @param string $file_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function emailUserGetEmailUserFileContentAsyncWithHttpInfo($id, $file_id, $virtual_operator)
    {
        $returnType = 'object';
        $request = $this->emailUserGetEmailUserFileContentRequest($id, $file_id, $virtual_operator);

        return $this->client->sendAsync($request)->then(function ($response) use ($returnType) {
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];
        }, function ($exception) {
            $response = $exception->getResponse();
            $statusCode = $response->getStatusCode();
            throw new ApiException(
                "[$statusCode] Error connecting to the API ({$exception->getRequest()->getUri()})",
                $statusCode,
                $response->getHeaders(),
                $response->getBody()
            );
        });
    }

    /**
     * Create request for operation 'emailUserGetEmailUserFileContent'
     *
     * @param string $id  (required)
     * @param string $file_id  (required)
     * @param string $virtual_operator  (required)
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function emailUserGetEmailUserFileContentRequest($id, $file_id, $virtual_operator)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling emailUserGetEmailUserFileContent');
        }
        // verify the required parameter 'file_id' is set
        if ($file_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $file_id when calling emailUserGetEmailUserFileContent');
        }
        // verify the required parameter 'virtual_operator' is set
        if ($virtual_operator === null) {
            throw new \InvalidArgumentException('Missing the required parameter $virtual_operator when calling emailUserGetEmailUserFileContent');
        }

        $resourcePath = '/api/{virtualOperator}/emailuser/outbounddocuments/{id}/files/{fileId}/content';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($id !== null) {
            $resourcePath = str_replace('{' . 'id' . '}', ObjectSerializer::toPathValue($id), $resourcePath);
        }
        // path params
        if ($file_id !== null) {
            $resourcePath = str_replace('{' . 'fileId' . '}', ObjectSerializer::toPathValue($file_id), $resourcePath);
        }
        // path params
        if ($virtual_operator !== null) {
            $resourcePath = str_replace('{' . 'virtualOperator' . '}', ObjectSerializer::toPathValue($virtual_operator), $resourcePath);
        }


        if ($multipart) {
            $headers= $this->headerSelector->selectHeadersForMultipart(
                ['application/json', 'text/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json', 'text/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present

        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                $httpBody = new MultipartStream($multipartContents); // for HTTP post (form)

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams); // for HTTP post (form)
            }
        }


        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $url = $this->config->getHost() . $resourcePath . ($query ? '?' . $query : '');

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        return new Request(
            'GET',
            $url,
            $headers,
            $httpBody
        );
    }

    /**
     * Operation emailUserReject
     *
     * Rejects a outboundDocument
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @param \Swagger\Client\Model\BusinessStatusDTO $data  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return object
     */
    public function emailUserReject($virtual_operator, $id, $data)
    {
        list($response) = $this->emailUserRejectWithHttpInfo($virtual_operator, $id, $data);
        return $response;
    }

    /**
     * Operation emailUserRejectWithHttpInfo
     *
     * Rejects a outboundDocument
     *
     * @param string $virtual_operator  (required)
     * @param string $id  (required)
     * @param \Swagger\Client\Model\BusinessStatusDTO $data  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function emailUserRejectWithHttpInfo($virtual_operator, $id, $data)
    {
        $returnType = 'object';
        $request = $this->emailUserRejectRequest($virtual_operator, $id, $data);

        try {

            try {
                $response = $this->client->send($request);
[...]
